div {
  .component-input-value {
    background-color: #182836;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    border: 3px solid #000;
    padding-right: 10px;
    color: aliceblue;
    line-height: 40px;
    font-size: 30px;
  }
}
